h1 {
    color:#adff2f;
}


.header{
    background-color: #000000;
    display:flex;
    justify-content: space-evenly;
}
.menu{
    display: flex;
    justify-content: space-between;
    background-color: #7fff00;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}
body{
    background-color: #000000;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.grid img{
    border:20px solid #ffffff;
    border-radius: 50px;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
h2{
    text-align: center;
    color:#ff7f50
}
p{
    text-align: center;
    color:#ffffff
}
